# REF: https://github.com/patroni/patroni/blob/master/extras/confd/templates/haproxy.tmpl
# REF: https://patroni.readthedocs.io/en/latest/rest_api.html
# About ports:
# - On HAProxy: 5432 -> Write backend; 6432 -> Read backend; (TODO: expose through 7000/7001)
# - On PG server: 5432 -> PG direct port; 6432 -> Pgbouncer port;

global
	maxconn 100

defaults
	log	global
	mode	tcp
	retries 2
	timeout client 30m
	timeout connect 4s
	timeout server 30m
	timeout check 5s

# $ open http://node3.pg.internal:8080
listen stats
	mode http
	bind *:8080
	stats enable
	stats uri /

frontend pg_write
    bind *:5432
    default_backend write_backend

frontend pg_read
    bind *:6432
    default_backend read_backend

backend write_backend
    option httpchk HEAD /read-write
	http-check expect status 200
	default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
	server node1 node1.pg.internal:6432 maxconn 100 check port 8008
	server node2 node2.pg.internal:6432 maxconn 100 check port 8008 backup


backend read_backend
    option httpchk HEAD /read-only
	http-check expect status 200
    balance roundrobin
	default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
	server node2 node2.pg.internal:6432 maxconn 100 check port 8008
	server node1 node1.pg.internal:6432 maxconn 100 check port 8008
