# REF: https://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_configuration
# Same on all three nodes. Each node also needs a `myid` file in
# dataDir containing just its own id: 1 on node1, 2 on node2, 3 on node3.

tickTime=2000
dataDir=/var/lib/zookeeper
clientPort=2181
initLimit=10
syncLimit=5

server.1=node1.pg.internal:2888:3888
server.2=node2.pg.internal:2888:3888
server.3=node3.pg.internal:2888:3888
